USE [master]
GO
/****** Object:  Database [KirbyDex]    Script Date: 18/11/2025 00:56:19 ******/
CREATE DATABASE [KirbyDex]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BibliotecaDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\BibliotecaDB.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'BibliotecaDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\BibliotecaDB_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [KirbyDex].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [KirbyDex]
GO
/****** Object:  Table [dbo].[Monstros]    Script Date: 18/11/2025 00:56:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Monstros](
	[Nome] [nvarchar](100) NOT NULL,
	[Descricao] [nvarchar](max) NULL,
	[Habilidade] [nvarchar](max) NULL,
	[HP] [int] NULL,
	[Ataque] [int] NULL,
	[Velocidade] [int] NULL,
 CONSTRAINT [PK_Monstros] PRIMARY KEY CLUSTERED 
(
	[Nome] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
INSERT [dbo].[Monstros] ([Nome], [Descricao], [Habilidade], [HP], [Ataque], [Velocidade]) VALUES (N'Bonkers', N'Um mini-chefe gorila que balança um martelo gigante.', N'Martelo', 150, 100, 30)
INSERT [dbo].[Monstros] ([Nome], [Descricao], [Habilidade], [HP], [Ataque], [Velocidade]) VALUES (N'BrontoBurt', N'Um inimigo voador comum. Frequentemente patrulha os céus.', N'Nenhuma', 10, 5, 80)
INSERT [dbo].[Monstros] ([Nome], [Descricao], [Habilidade], [HP], [Ataque], [Velocidade]) VALUES (N'Burning', N'Inimigo de chamas...', N'Fogo', 30, 30, 70)
USE [master]
GO
